<form action="{% url 'button_result' %}" method="POST">
{% csrf_token %}
<strong>FROM</strong>
<br>
<br>
<input type="checkbox" name="from" value="department" 
	onclick="onclick_from(this)">Department
<input type="checkbox" name="from" value="student" 
	onclick="onclick_from(this)">Student
<input type="checkbox" name="from" value="professor" 
	onclick="onclick_from(this)">Professor
<input type="checkbox" name="from" value="course"
	onclick="onclick_from(this)">Course
<input type="checkbox" name="from" value="grade" 
	onclick="onclick_from(this)">Grade
<br>
<br>
<strong>SELECT</strong>
<br>
<br><div id="select_department">Department:  </div>
<br>
<div id="select_student">Student:  </div>
<br>
<div id="select_professor">Professor:  </div>
<br>
<div id="select_course">Course:  </div>
<br>
<div id="select_grade">Grade:  </div>
<br>

<strong>WHERE</strong><br>
<textarea name = "where" style="height:5%; width:30%;" ></textarea><br><br>
<input type = "submit" value = "query">
</form>
{{ sql }}<br>
{% if rows != "error" %}
    {% if rows %}
    Success<br>
    {% for row in rows %}
        {{row}}<br>
    {% endfor %}
    {% endif %}

{% else %}
    Error
{% endif %}

<script language="JavaScript">
tables = {
    "department": ['id', 'name', 'head_id'],
    "student": ['id', 'name', 'take_course_id', 'advisor_id', 'department_id'],
    "professor": ['id', 'name', 'department_id'],
    "course": ['id', 'name', 'department_id', 'teacher_id'],
    "grade": ['id', 'student_id', 'course_id', 'grade']
}

function onclick_from(click) {
    var x = click.value;
    var select_div = document.getElementById("select_" + x);
    var select_div_children = select_div.children;

    for (var i = 0; i < select_div_children.length; i++) {
        if (select_div_children[i].type == 'checkbox') {
            if (select_div_children[i].disabled == true)
                select_div_children[i].disabled = false;
            else
                select_div_children[i].disabled = true;
        }
    }
}

function create_select_button() {
    for (var i in tables) {
        var select_div = document.getElementById("select_" + i);
        for (var j = 0; j < tables[i].length; j++) {
            console.log(i, j);
            var btn = document.createElement("input");
            btn.type = "checkbox";
            btn.name = "select";
            btn.value = i + "." + tables[i][j];
            btn.disabled = true;
            var label = document.createElement("label");
            label.for = 'select';
            label.innerText = tables[i][j].toString();
            select_div.append(btn);
            select_div.append(label);
        }
    }
}

create_select_button();
</script>

